  
  <div class="form-error" ng-message="required">This field is required.</div>
  <div class="form-error" ng-message="specificlength9">This field is must contains exactly 9 characters.</div>
  <div class="form-error" ng-message="specificlength10">This field is must contains exactly 10 characters.</div>
  <div class="form-error" ng-message="prefix">The phone number must start with '05'.</div>
  <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
  <div class="form-error" ng-message="maxlength">This field is must be less than 50 characters</div>
   