 <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Course Name</h1>
      </ion-header-bar>
      <ion-content class="padding">
      <div class="list">

  <div class="item item-icon-left">
  <i class="icon ion-earth"></i>
    Organization:
    <span class="item-note">
      Ben Gurion University
      
    </span>
  </div>

  <a class="item item-icon-left">
    <i class="icon ion-calendar"></i>
    Date:
   <span class="item-note">
      {{1288323623006 | date:'short'}}
    </span>
    
  </a>
  
    <a class="item item-icon-left item-button-right">
    <i class="icon ion-ios-location"></i>
    Location:
   <button class="button button-positive">
      
      Open map
    </button>
    
  </a>
  
    <a class="item item-icon-left">
    <i class="icon ion-university"></i>
    Students:
   <span class="badge badge-assertive">0</span>
    
  </a>



</div>
             <button class="button icon-left ion-radio-waves button-block button-balanced">
    
  Open Attandance
</button>
      </ion-content>
    </ion-pane>