<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item " href="#/welcome/login"><i class="icon ion-unlocked"></i> Login </a>
      <a class="tab-item active" href="#/welcome/signup"> <i class="icon ion-person"></i> Sing Up </a>
    </div>
  </div>

<ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
		  <!--<div class="app-logo"><img src="img/logo.png"></div>-->
			<!--<img class="displayed" src="img/logo.png"> -->
			<h3 class="text3">Register</h3>
			<div class="list list-inset removePM">
			    <!--<li class="item item-toggle">
			     Master?
			     <label class="toggle toggle-assertive">
			       <input type="checkbox" ng-model='isMaster'>
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label> 
			  </li>-->
			  <label ng-if="showActivationCodeInput" class="item item-input"><input type="text" placeholder="Master Activation Code" ng-model="tempUser.activationCode"> </label>
			  <label class="item item-input"><input type="text" placeholder="ID" ng-model="tempUser.ID"> </label>
			  <label class="item item-input"><input type="text" placeholder="Full Name" ng-model="tempUser.fullName"> </label>
			  
			  <label class="item item-input"><input type="password" placeholder="Password" ng-model="tempUser.password"> </label>
			  <label class="item item-input"><input type="password" placeholder="Confirm Password" ng-model="tempUser.confirmPassword"> </label>
			</div>

			<div class="loginButton"><button class="button ion-person button-block button-balanced" ng-click="Register(isMaster)"> Register </button>  </div>
						<div class="loginButton"><button class="button ion-unlocked button-block button-energized" ng-click="clearLocalStorage();" > Clear Local Storage </button>  </div>
	  </div>
  </div>

	<div class="row  padding removePM">
	  <div class="col"> <a class=" button-positive button button-block" ng-click="facebookSignIn()"><i class="icon ion-social-facebook"></i></a> </div>
	  <div class="col"> <a class="button-calm button button-block" ng-click="twitterSignIn()"><i class="icon ion-social-twitter"></i></a> </div>
	   <div class="col"> <a class="button-assertive button button-block" ng-click="googleSignIn()"><i class="icon ion-social-google"></i></a> </div>
	</div>

  </ion-content>
</ion-view>
