
<ion-view view-title="Welcome" class="loginBg" hide-nav-bar="true" >
<!-- <ion-nav-title><img src="img/logo.png" width="40"></ion-nav-title> -->

  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
      <div class="col">
        <div class="content">

                    
                    <h3 class="text3">Welcome To Presence!</h3>
                </div>
            <!--<div class="app-logo"><img src="img/logo.png"></div>-->
            <img class="displayed" src="img/logo.png"> 
          
               <h5 class="text">A 5 digit code had been sent to {{userData.phoneNumber}}, please enter the code:</h5>

                <div class="list list-inset removePM">
                  <label class="item item-input"><input type="text" ng-model="SMSCode" placeholder="code" > </label>
                </div>
                <div ng-if="isMaster" >

                               <h5 class="text">The ID number you entered belong to super user, please provide your email and authentication code:</h5>

                                <div class="list list-inset removePM">
                                  <label class="item item-input"><input type="text" ng-model="authCode" placeholder="super user code" > </label>
                                </div> 
                                <div class="list list-inset removePM">
                                  <label class="item item-input"><input type="email" ng-model="email" placeholder="email" > </label>
                                </div> 
                <div>                
            

            <div ><button  class="button button-block button-balanced" ng-click="SubmitSMSCode(SMSCode,authCode,email)" > Next </button>  </div>
      </div>
  </div>

            

  </ion-content>
</ion-view>