
<ion-view view-title="Welcome" class="loginBg" hide-nav-bar="true" cache-view="false">
<!-- <ion-nav-title><img src="img/logo.png" width="40"></ion-nav-title> -->

  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
      <div class="col">
        <div class="content">

                    
                    <h3 class="text3">Welcome To Presence!</h3>
                </div>
            <!--<div class="app-logo"><img src="img/logo.png"></div>-->
            <img class="displayed" src="img/logo.png"> 
          
               <h5 class="text">A 5 digit code had been sent to {{userData.phoneNumber}}, please enter the code:</h5>

                <div class="list list-inset removePM">
                  <label class="item item-input"><input type="text" ng-model="SMSCode" placeholder="code" > </label>
                </div>
             
            

            <div ><button  class="button button-block button-balanced" ng-click="SubmitSMSCode(SMSCode,authCode,email)" > Next </button>  </div>
      </div>
  </div>

            

  </ion-content>
</ion-view>