
<ion-view view-title="Welcome" class="loginBg" hide-nav-bar="true" >
<!-- <ion-nav-title><img src="img/logo.png" width="40"></ion-nav-title> -->

  <ion-content class="padding">
  <div class="row responsive-sm padding remvoeBP">
      <div class="col">
        <div class="content">

                    
                    <h3 class="text3">Welcome To Presence!</h3>
                </div>
           
            <img class="displayed" src="img/logo.png"> 
          
               <h4 class="text2">In order to add your phone number, you must provide your email:</h5>
<form name="phoneNumberForm" novalidate="" ng-submit="submitPhone(phoneNumberForm)">
        <label class="item item-input" ng-class="{ 'has-error-lr' : phoneNumberForm.email.$invalid  && phoneNumberForm.$submitted , 'valid-lr' : phoneNumberForm.email.$valid  && phoneNumberForm.$submitted}"> 
          <span class="input-label">Email</span>  
          <input type="email"  
             name="email"
             ng-model="email" 
             required>
            <!-- <i  class="icon ion-checkmark-circled balanced padding" ></i>-->
        </label>
              <div class="form-errors" ng-show="phoneNumberForm.email.$error && phoneNumberForm.$submitted" ng-messages="phoneNumberForm.email.$error"> 
                  <div class="form-error" ng-message="email">Your email address is invalid</div> 
                  <div ng-messages-include="templates/form-errors.html"></div>
              </div> 

        <label class="item item-input" ng-class="{ 'has-error-lr' : phoneNumberForm.newPhoneNumber.$invalid  && phoneNumberForm.$submitted, 'valid-lr' : phoneNumberForm.newPhoneNumber.$valid  && phoneNumberForm.$submitted}">     
          <span class="input-label">New Phone Number</span>
          <input type="text"
           name="newPhoneNumber"
           ng-model="newPhoneNumber" 
           ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" 
           required>
           <i ng-show="phoneNumberForm.newPhoneNumber.$valid" class="icon ion-checkmark-circled"></i>
        </label>  
            <div class="form-errors"  
               ng-show="phoneNumberForm.newPhoneNumber.$error && phoneNumberForm.$submitted"
               ng-messages="phoneNumberForm.newPhoneNumber.$error">
                <div class="form-error" ng-message="pattern">Must be a valid 10 digit phone number</div>
               <div ng-messages-include="templates/form-errors.html"></div>
            </div> 

        <button type="submit" class="button icon-right ion-chevron-right button-block button-balanced">
        login
        </button>    
</form>            

      </div>
  </div>




            

  </ion-content>
</ion-view>
