
<ion-view view-title="Welcome" class="loginBg" hide-nav-bar="true" >
<!-- <ion-nav-title><img src="img/logo.png" width="40"></ion-nav-title> -->

  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
      <div class="col">
        <div class="content">

                    
           <h3 class="text3">Welcome To Presence!</h3>

            <img class="displayed" src="img/logo.png"> 
              <div class="list-item"> 
                          <h4 class="text3">Please choose your password:</h4>
              </div>
        </div>




              <form name="passwordForm" novalidate="" ng-submit="submitPassword(passwordForm)">
                  <label class="item item-input" ng-class="{ 'has-error-lr' : passwordForm.password.$invalid  && passwordForm.$submitted , 'valid-lr' : passwordForm.password.$valid   && passwordForm.$submitted}"> 
                    <span class="input-label">Password</span>  
                    <input type="password"  
                       name="password"
                       ng-model="password"
                       ng-minlength="6"
                       required>
                  </label>
                        <div class="form-errors" ng-show="passwordForm.password.$error && passwordForm.$submitted" ng-messages="passwordForm.password.$error"> 
                            <div class="form-error" ng-message="minlength">password must be atleast 6 characters</div>
                            <div ng-messages-include="templates/form-errors.html"></div>
                        </div> 
                  <label class="item item-input"> 
                    <span class="input-label">Confirm</span>  
                    <input type="password"  
                       name="confirm"
                       ng-model="confirm"
                       required>
                  </label> 

                 <div ng-show="isMaster" >

                 <h5 class="text2">The ID number you entered belong to a super user, please provide authentication code:</h5>

                  <label class="item item-input"> 
                    <span class="input-label">Code</span>  
                    <input type="text"  
                       name="code"
                       ng-model="code"
                       >
                  </label>

                </div>      

                  <button type="submit" class="button icon-right ion-chevron-right button-block button-balanced">
                  Next
                  </button>    
             </form>  

          
      </div>
  </div>

            

  </ion-content>
</ion-view>