
<ion-view view-title="Welcome" class="loginBg" hide-nav-bar="true" >
<!-- <ion-nav-title><img src="img/logo.png" width="40"></ion-nav-title> -->

  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
      <div class="col">
        <div class="content">

                    
           <h3 class="text3">Welcome To Presence!</h3>

            <img class="displayed" src="img/logo.png"> 
                      <div class="list-item"> 
                          <h4 class="list-item text3">Please enter your ID Number:</h4>
                      </div>
                <div class="list list-inset removePM">
                            <label class="item item-input"><input type="text" ng-model="ID" placeholder="ID Number" > </label>
                </div>
                      

                      <div ><button  class="button button-block button-balanced" ng-click="submitID(ID)" > Next </button>  </div>



                    <div class="list-item"> 
                          <h4 class="list-item text3">Allredy a member? Login!</h4>
                    </div>
                      <div class="loginButton">
                          <button class="button ion-unlocked button-block button-assertive" ng-click="goToWelcomeLogin()" > Login </button>  
                      </div>
                </div>
          
      </div>
  </div>

            

  </ion-content>
</ion-view>