

<ion-view view-title="Home" class="loginBg">
<ion-nav-buttons side="right">
        <button id="leftMenu" class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
  <ion-content >

        <ion-refresher class="refreshStyle"
        pulling-text="Refresh Course Details..."
        on-refresh="refresh()">
      </ion-refresher>

  </ion-content>
  <ion-footer-bar class="bar-dark">
            <!--<ion-process-spinner style="width:100%; text-align: center;" processing="spin" spinner="bubbles" css-class="spinner-balanced my-spinner">
                             <a  ng-if="!course.activeAttendanceInfo" href="" ng-click="spinIt()" class="button button-balanced my-button">
                              Open New Attandance
                              <i class="icon ion-ionic my-icon"> </i>
                            </a>
            </ion-process-spinner>-->

</ion-footer-bar>
</ion-view>

