<div class="tabs-striped  tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#/welcome/intro"><i class="icon ion-unlocked"></i> Intro</a>
      <a class="tab-item" href="#/welcome/start"> <i class="icon ion-person"></i> Start </a>
    </div>
 </div>

<ion-view view-title="Intro" class="loginBg" hide-nav-bar="true" >

  <ion-content class="padding">

  <div class="row responsive-sm padding remvoeBP">
	  <div class="col">
		<img class="displayed" src="img/logo.png"> 
			<div class="loginButton"><button class="button ion-unlocked button-block button-balanced" ng-click="login()" > Login </button>  </div>
			<div class="loginButton"><button class="button ion-unlocked button-block button-balanced" ng-click="start()" > Start </button>  </div>
	  </div>
  </div>


  </ion-content>
</ion-view>
